{% extends 'base.html.twig' %}

{% block body %}
	<section id="head">
		<div class="container">
			<div class="greetings vt323">Bonjour, moi c'est</div>
			<div class="name">
				<span>N</span>
				<span>i</span>
				<span>c</span>
				<span>o</span>
				<span>l</span>
				<span>a</span>
				<span>s</span>
				<span>&nbsp;</span>
				<span>H</span>
				<span>a</span>
				<span>l</span>
				<span>b</span>
				<span>e</span>
				<span>r</span>
				<span>s</span>
				<span>t</span>
				<span>a</span>
				<span>d</span>
				<span>t</span>
				<span>.</span>
			</div>
			<div class="title">Je conçois des solutions web sur mesure.</div>
			<div class="bio">Je suis développeur web freelance avec une expertise en PHP, Symfony, WordPress et JavaScript. J’accompagne mes clients dans la création de sites sur mesure, alliant performance et design.</div>
		</div>
	</section>

	<section id="about" class="w-100">
		<h2 class="number vt323">
			<span class="neon-green">01.</span>
			A propos de moi
		</h2>
		<div class="d-flex">
			<div class="w-50 left-panel light-grey">
				<p>Bonjour, je m’appelle Nicolas Halberstadt, développeur web freelance passionné par la création de solutions numériques modernes et sur mesure. Avec une expertise en PHP, Symfony, Wordpress et JavaScript, je conçois des sites performants et adaptés aux besoins de mes clients</p>
				<p>Mon objectif ? Allier créativité, efficacité et accessibilité pour offrir des expériences utilisateur uniques. Que ce soit pour un site vitrine, une application web ou des fonctionnalités spécifiques, je mets tout en œuvre pour transformer vos idées en réalité.</p>
			</div>
			<div class="w-50 right-panel">
				<img src="https://placehold.co/220x280" alt="">
			</div>
		</div>
	</section>

	<section id="xp" class="w-100">
		<h2 class="number vt323">
			<span class="neon-green">02.</span>
			Expérience
		</h2>
	</section>
{% endblock %}
