html {
    scroll-behavior: smooth;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

body {
    font-family: 'Cairo', sans-serif;
}

.content-wrap {
    min-height: calc(100vh - 445px - 506px);
    padding: 10em;
    padding-top: 2em;
}

h1 {
    text-align: center;
    font-size: 40px;
}

h2 {
    text-align: center;
    color: rgb(145, 160, 170);
    font-size: 35px;
    padding: 1em;
}

h3,
.h3 {
    color: #C49991;
}

a {
    color: rgb(129, 150, 141);
}

a:hover {
    text-decoration: none;
    color: rgb(136, 190, 167);
}

button>img,
a>img {
    width: 16px;
    padding-left: 5px;
}

p,
.p {
    font-weight: 300;
    font-size: 20px;
}

.small-text {
    text-align: center;
    font-weight: 200;
    margin-top: -10px;
    color: black;
    font-size: 20px;
}


/* HOMEPAGE */

.homepage {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #9FB8AD;
    height: 100vh;
    margin: 0 -15px;
}

.homepage-pic {
    width: 200px;
    border-radius: 100px;
    transition: 1s;
    background-color: #BEDCCF;
    border: 0px;
    padding-left: 0;
}

.homepage-pic:hover {
    --webkit-box-shadow: inset 0px 0px 0px 200px rgba(113, 156, 137, 0.68);
    -moz-box-shadow: inset 0px 0px 0px 200px rgba(113, 156, 137, 0.68);
    box-shadow: inset 0px 0px 0px 200px rgba(113, 156, 137, 0.68);
}

.homepage-txt h1,
.homepage-txt h2 {
    color: white;
}

.homepage-txt h1 {
    font-size: 30px;
}

.homepage-txt h2 {
    font-size: 20px;
    padding: 0;
}

.tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


/* HEADER */

.header {
    margin-right: -15px;
    margin-left: -15px;
    background-color: #9FB8AD;
}

.header {
    padding: 2em;
}

.header-profile-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    margin: auto;
}

.header-profile {
    display: flex;
    width: 65%;
}

.header-profile-pic-container {
    padding: 1em;
}

.header-profile-pic {
    border-radius: 200px;
    height: 150px;
    width: 150px;
}

.header-profile-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-profile-txt h2 {
    text-align: left;
    font-weight: 600;
    font-size: 30px;
    padding: 0;
}

.header-profile-txt h3 {
    font-size: 20px;
}

.header-profile-txt h2,
.header-profile-txt h3 {
    color: #282c31;
    margin: 0;
}

.header a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #000;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.header-nav a {
    color: #212529;
    margin-right: 0.5em;
    width: 35%;
    position: relative;
}

.header-nav a:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.page-title {
    padding: 1.5em;
    background-color: rgb(179, 207, 195);
    margin: 0 -15px;
}

.link-bottom {
    text-align: center;
    background-color: #C49991;
    margin: 2em -1em 1.2em -1em;
    color: white;
    transition: 0.3s
}

.link-bottom a {
    display: block;
    color: white;
    width: 100%;
    padding: 1em;
}

.link-bottom:hover {
    background-color: rgb(134, 106, 101);
}


/* ABOUT */

.about-container {
    padding: 0 4em;
}

.about-container h1 {
    text-align: center;
}

.about-container h2>a,
.about-container h2>a:hover {
    color: unset;
}

.about-container ul {
    list-style: none;
}

.about-container ul:first-of-type>li:before {
    content: "\f0a9";
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1em;
    width: 1em;
    padding-right: 1.2em;
}

.about-map {
    display: block;
    margin: 0 auto;
    width: 40%;
    margin-top: 2em;
    margin-bottom: 1em;
    border: 5px solid #9FB8AD;
    border-radius: 50%;
}

.about-container ul:last-of-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
}

.about-container ul:last-of-type>li {
    display: flex;
    flex-direction: column;
    padding-right: 1em;
    padding-bottom: 1em;
    color: black;
    align-items: center;
}

.about-container ul:last-of-type>li>i,
.about-container ul:last-of-type>li>img {
    justify-content: center;
    text-align: center;
    font-size: 45px;
    width: 45px;
}


/* ALL PROJECTS */

.projects-container {
    margin: -2em 2em;
}

.projects-container h1 {
    text-align: center;
    font-size: 60px;
    padding: 2em;
}

.projects-container h2 {
    padding: 1em 0.5em;
}

.projects-container>ul {
    list-style: none;
    display: flex;
    padding: 0;
    /* margin: -2em; */
    flex-direction: row;
    flex-wrap: wrap;
}

.projects-container>ul>li {
    width: 33.3333%;
    text-align: center;
    padding: 0em 2em 0em 2em;
    margin-bottom: 2em;
    margin-top: 3em;
}

.projects-container>ul>li:hover .projet-lien>img {
    transform: scale(0.9);
}

.projet-lien {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 400px;
    border-radius: 15px;
}

.projet-lien>img {
    max-height: 50%;
    max-width: 50%;
    margin: auto;
    transition: 1s;
    width: unset;
    padding: 0;
}

.projet-lien h3 {
    background-color: rgb(47, 53, 58, 0.5);
    padding: 1em;
    color: white;
    margin-bottom: 0px;
    font-size: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.projet-lien:hover {
    text-decoration: none;
    color: blue;
}


/* PROJECT DETAILS */

.project-container h2 {
    font-size: 30px;
    margin: 0;
}

.project-container>img {
    width: 70%;
    height: 70%;
    display: block;
    margin: auto;
}

.git-site-btn {
    display: flex;
    width: 100%;
    margin-bottom: 1em;
}

.project-button-link {
    padding: 1em;
    width: 100%;
}

.project-button-link>button {
    margin: auto;
    display: block;
    width: 100%;
}

.btn-success {
    background-color: #A4B8C4;
    border: none;
}

.btn-success:hover,
.btn-success:active {
    background-color: rgb(125, 140, 150)!important;
}


/* FORM */

form {
    margin: auto;
    width: 60%;
    padding-top: 1em;
}

label.required:after {
    content: "* ";
    color: rgb(209, 52, 52);
}

.form-button {
    background-color: #C49991;
}

.form-button:hover {
    background-color: rgb(156, 120, 114);
}

.fa-running {
    color: #C49991;
}

.grecaptcha-badge {
    position: initial!important;
    margin-bottom: 1em;
}


/* MOBILE TABS */

.mobile-tabs {
    display: none;
}

.mobile-tabs {
    position: sticky;
    bottom: 0;
    justify-content: space-around;
    margin: -30px -15px;
    background-color: #DBDBDB;
}

.mobile-tabs-item {
    color: grey;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 33.33%;
    transition: .3s;
}

.mobile-tabs-item:hover {
    background-color: rgb(175, 173, 173);
    text-decoration: none;
    color: white;
}

.active-tabs {
    color: white;
    background-color: rgb(175, 173, 173);
}


/* FOOTER */

.footer {
    background-color: #3F403F;
    color: white;
    margin: -19px -15px;
    font-size: 15px;
    padding: 2em 20px 20px 20px;
}

.socials li {
    padding: 0.5em;
}

.links {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4em;
}

.links ul {
    list-style: none;
}

.links li i {
    padding-right: 0.5em;
    width: 30px;
}

.links li>p {
    margin-left: 35px;
    font-size: 15px;
}

.made-with-love {
    text-align: center;
    margin: -20px 0;
}

.made-with-love p {
    font-size: 15px;
}

.made-with-love p .fa-heart {
    color: red;
}


/*  ##################### MEDIA ######################  */

@media (max-width: 575px) {
    .content-wrap {
        min-height: calc(100vh - 238px - 70px);
        padding: 0;
    }
    h1 {
        margin-top: -5px;
        font-size: 30px;
    }
    h2 {
        font-size: 40px;
        margin: 1em 0 0.5em 0;
    }
    h3,
    .h3 {
        font-size: 35px;
        padding-bottom: 1em;
    }
    h4 {
        font-size: 25px;
        font-weight: 600;
    }
    p,
    .p {
        font-size: 20px;
        margin-bottom: 2em;
    }
    .small-text {
        font-size: 20px!important;
        margin-bottom: 0.5em;
    }
    /* HOMEPAGE */
    .homepage-img-container {
        margin-bottom: 2em;
    }
    .homepage-img-container img {
        display: block;
        margin: auto;
        width: 100%;
        border-radius: 200px;
    }
    .homepage-txt {
        width: 80%;
    }
    .homepage-txt h1 {
        font-size: 50px;
    }
    .homepage-txt h2 {
        font-size: 40px;
    }
    /* HEADER */
    .header-profile {
        margin: auto;
        width: 90%;
    }
    .header-profile-pic-container {
        padding-left: 0;
        margin-left: -15px;
    }
    .header-profile-pic {
        height: 100px;
        width: 100px;
    }
    .header-profile-txt h2 {
        font-size: 30px;
    }
    .header-profile-txt h3 {
        font-size: 15px;
    }
    .header-nav {
        display: none;
    }
    /* ABOUT */
    .about-container {
        padding: 0.5em;
    }
    .about-container h2 {
        font-weight: 600;
    }
    .about-container a>img {
        width: 4%;
        padding-left: 0.2em;
    }
    .about-container ul {
        padding-left: 15px;
    }
    .about-container ul>li {
        font-size: 20px;
        margin-bottom: 0.5em;
    }
    .about-container ul:last-of-type>li>i,
    .about-container ul:last-of-type>li>img {
        font-size: 40px;
        width: 40px;
    }
    .about-map {
        width: 80%;
    }
    /* ALL PROJECTS */
    .projects-container h1 {
        padding: 1em;
    }
    .projet-lien {
        height: 200px;
    }
    .projet-lien h3 {
        font-size: 15px;
    }
    .projects-container>ul>li {
        width: 100%;
        padding: unset;
        margin-bottom: unset;
        margin: 1em auto;
    }
    .projects-container>ul>li:first-of-type {
        margin: 4em auto;
        margin-bottom: 1em;
    }
    /* PROJECTS DETAILS */
    .project-container>img {
        padding-top: 2em;
        width: 100%;
        height: 100%;
    }
    .project-button-link {
        padding: 0.5em;
        height: 60px;
    }
    .project-button-link>button {
        height: inherit;
    }
    .projects-container div:last-of-type {
        margin: 2em -5em 2em -6em;
    }
    .project-container button {
        font-size: 40px;
        display: block;
        margin: auto;
        padding: 0.5em;
        margin-bottom: 2em;
    }
    .project-container h2 {
        padding-bottom: 1em;
        font-size: 40px;
    }
    /* FORM */
    form {
        font-size: 50px;
        -webkit-box-shadow: 0px 0px 66px 12px rgba(175, 217, 198, 0.64);
        -moz-box-shadow: 0px 0px 66px 12px rgba(175, 217, 198, 0.64);
        box-shadow: 0px 0px 66px 12px rgba(175, 217, 198, 0.64);
        padding: 1em;
        width: 80%;
        border-radius: 15px;
        margin: 2em auto;
    }
    .form-control {
        font-size: 40px;
    }
    #contact_envoyer {
        font-size: 45px;
    }
    /* BOTTOM LINK */
    .link-bottom {
        margin: 2em -1em 0em -1em;
    }
    /* MOBILE TABS */
    .mobile-tabs {
        display: flex;
    }
    .mobile-tabs-item {
        font-size: 20px;
        padding: 0.5em;
    }
    /* FOOTER */
    .footer {
        margin: 0 -15px;
        padding: 0;
        padding-top: 2em;
    }
    .links ul {
        padding: 0;
    }
    .made-with-love p {
        font-size: 35px;
    }
}

@media (min-width: 575px) and (max-width: 700px) {
    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 50px;
    }
    h3 {
        font-size: 40px
    }
    /* HOMEPAGE */
    .homepage-img-container {
        margin-bottom: 2em;
    }
    .homepage-img-container img {
        display: block;
        margin: auto;
        width: 100%;
        border-radius: 200px;
    }
    .homepage-txt {
        width: 80%;
    }
    .homepage-txt h1 {
        font-size: 50px;
    }
    .homepage-txt h2 {
        font-size: 40px;
    }
    /* HEADER */
    .header-profile-pic {
        border-radius: 200px;
        height: 300px;
        width: 300px;
    }
    .header-profile-txt h2 {
        font-size: 50px;
    }
    .header-profile-txt h3 {
        font-size: 30px;
    }
    .header-nav {
        display: none;
    }
    /* ABOUT */
    .small-text {
        font-size: 35px;
    }
    .about-container p,
    .p {
        font-size: 25px;
    }
    .about-container a>img {
        width: 2%;
        padding-left: 0.1em;
    }
    .about-container ul {
        padding-left: 10px
    }
    .about-container ul>li {
        font-size: 20px;
        margin-bottom: 0.5em
    }
    .about-container ul:last-of-type {
        justify-content: center;
    }
    .about-container ul:last-of-type>li>i,
    .about-container ul:last-of-type>li>img {
        font-size: 40px;
    }
    .about-map {
        margin-top: 0;
        height: 50%;
        width: 50%;
    }
    /* PROJECTS DETAILS */
    .project-container>img {
        padding-top: 2em;
        width: 100%;
        height: 100%;
    }
    .project-container button {
        font-size: 40px;
        display: block;
        margin: auto;
        padding: 0.5em;
        margin-bottom: 2em;
    }
    .project-container h2 {
        padding-bottom: 1em;
        font-size: 40px;
    }
    /* FORM */
    form {
        font-size: 50px;
        -webkit-box-shadow: 0px 0px 66px 12px rgba(175, 217, 198, 0.64);
        -moz-box-shadow: 0px 0px 66px 12px rgba(175, 217, 198, 0.64);
        box-shadow: 0px 0px 66px 12px rgba(175, 217, 198, 0.64);
        padding: 1em;
        width: 80%;
        border-radius: 15px;
        margin: 2em auto;
    }
    .form-control {
        font-size: 40px;
    }
    #contact_envoyer {
        font-size: 45px;
    }
    /* MOBILE TABS */
    .mobile-tabs {
        display: flex;
    }
    .mobile-tabs-item {
        font-size: 20px;
        padding: 1em;
    }
    .made-with-love p {
        font-size: 35px;
    }
}

@media (min-width: 701px) and (max-width: 991.98px) {
    .content-wrap {
        padding: 2em;
        min-height: calc(100vh - 464px - 756px);
    }
    h1 {
        font-size: 80px;
    }
    h2 {
        font-size: 70px;
    }
    h3 {
        font-size: 55px;
    }
    h4 {
        font-size: 50px;
        font-weight: 600;
    }
    p,
    .p {
        font-size: 45px;
    }
    .small-text {
        font-size: 35px;
    }
    /* HOMEPAGE */
    .homepage-img-container {
        margin-bottom: 2em;
    }
    .homepage-img-container img {
        display: block;
        margin: auto;
        width: 100%;
        border-radius: 200px;
    }
    .homepage-txt {
        width: 80%;
    }
    .homepage-txt h1 {
        font-size: 50px;
    }
    .homepage-txt h2 {
        font-size: 40px;
    }
    /* HEADER */
    .header {
        padding: 1em;
    }
    .header-profile-pic {
        height: 400px;
        width: 400px;
    }
    .header-profile-txt h2 {
        font-size: 60px;
    }
    .header-profile-txt h3 {
        font-size: 35px;
    }
    .header-nav {
        display: none;
    }
    /* ABOUT */
    .about-container {
        padding: 2em;
    }
    .about-container h2 {
        margin-bottom: 1em;
        font-weight: 600;
    }
    .about-container h3 {
        padding: 1em 0;
    }
    .about-container>img {
        margin-top: 1em;
    }
    .about-container ul:last-of-type {
        padding-top: 1em;
        justify-content: center;
    }
    .about-container ul:last-of-type>li {
        font-size: 50px;
    }
    .about-container ul:last-of-type>li>i,
    .about-container ul:last-of-type>li>img {
        font-size: 100px;
        width: 100px;
    }
    /* ALL PROJECTS */
    .projects-container h1 {
        padding: 1em;
    }
    .projet-lien {
        height: 400px;
    }
    .projet-lien h3 {
        font-size: 35px;
    }
    .projects-container>ul>li {
        width: 80%;
        padding: unset;
        margin-bottom: unset;
        margin: 2em auto;
    }
    .projects-container>ul>li:first-of-type {
        margin: 4em auto;
        margin-bottom: 1em;
    }
    /* PROJECTS DETAILS */
    .project-container {
        padding: 2em;
    }
    .project-container>img {
        padding-top: 2em;
        width: 100%;
        height: 100%;
    }
    .project-container button {
        font-size: 40px;
        display: block;
        margin: auto;
        padding: 0.5em;
        margin-bottom: 2em;
    }
    .project-container h2 {
        padding-bottom: 1em;
        font-size: 40px;
    }
    .project-container h3 {
        padding: 1em 0;
    }
    /* FORM */
    form {
        font-size: 50px;
        -webkit-box-shadow: 0px 0px 66px 12px rgba(175, 217, 198, 0.64);
        -moz-box-shadow: 0px 0px 66px 12px rgba(175, 217, 198, 0.64);
        box-shadow: 0px 0px 66px 12px rgba(175, 217, 198, 0.64);
        padding: 1em;
        width: 80%;
        border-radius: 15px;
        margin: 2em auto;
    }
    .form-control {
        font-size: 40px;
    }
    #contact_envoyer {
        font-size: 45px;
    }
    /* LINK BOTTOM */
    .link-bottom {
        font-size: 45px;
        margin: 2em -15px 0em -15px;
    }
    /* MOBILE-TABS */
    .mobile-tabs {
        display: flex;
    }
    .mobile-tabs-item {
        font-size: 40px;
        padding: 1em;
        padding-bottom: 1.5em;
    }
    /* FOOTER */
    .footer {
        margin: 0 -15px;
        padding: 0;
        padding-top: 2em;
    }
    .links ul {
        padding: 0;
    }
    .links li {
        font-size: 50px;
    }
    .links li>p {
        font-size: 40px;
    }
    .links i {
        margin-right: 1em;
    }
    .made-with-love p {
        font-size: 35px;
        margin-bottom: 30px;
    }
}

@media (min-width: 1900px) {
    .content-wrap {
        padding: 2em 20em;
    }
}


/* KEYFRAMES */


/* ----------------------------------------------
* Generated by Animista on 2020-5-29 14:43:51
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */


/**
* ----------------------------------------
* animation tracking-in-expand
* ----------------------------------------
*/

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}