//\\ var \\//
$blue: #1f2335;
$darkBlue: #1d2132;
$neonGreen: #64ffda;
$lightGrey: #c4c4c4;
//\\ !var! \\//

//\\ Generic classes //\\
.vt323 {
    font-family: "VT323", monospace;
}
.bold {
    font-weight: bold;
}

.light-grey {
    color: $lightGrey;
}

.neon-green {
    color: $neonGreen;
}
//\\ !Generic classes! //\\

html {
    background-color: $blue !important;
    #cursor {
        position: fixed;
        opacity: 0;
        pointer-events: none;
        mix-blend-mode: difference;
        width: 1px;
        height: 1px;
        border-radius: 50%;
        background-color: rgba(100, 255, 218, 0.1);
        transition: transform 350ms ease;
        transform: translate(-50%, -50%) scale(3);
        z-index: 1000;
        &::before {
            content: "";
            mix-blend-mode: difference;
            margin: auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            box-shadow: 0 0 20px 40px rgba(100, 255, 218, 0.1);
            border-radius: 50%;
            filter: blur(5px);
        }
    }
    body {
        background-color: inherit;
        color: white;
        font-family: "Funnel Display", sans-serif;
        header {
            position: fixed;
            width: 100%;
            display: flex;
            justify-content: space-between;
            background-color: $darkBlue;
            nav {
                max-width: 100%;
                width: 40%;
                padding-top: 20px;
                ol {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    li {
                        &::marker {
                            color: $neonGreen;
                        }
                        a {
                            color: white;
                            text-decoration: none;
                            &:hover {
                                color: $neonGreen;
                                &::after {
                                    width: 100%;
                                    transition: width 0.3s;
                                }
                            }
                            &::after {
                                content: "";
                                display: block;
                                width: 0;
                                height: 2px;
                                background: $neonGreen;
                                transition: width 0.3s;
                            }
                        }
                    }
                }
            }
        }
        #head {
            width: 70%;
            height: 100vh;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding-left: 15%;
            .container {
                height: 20%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                .greetings {
                    color: $neonGreen;
                    font-size: 1.5vw;
                }
                .name {
                    cursor: pointer;
                    display: inline-block;
                    font-size: 5vw;
                    color: white;
                    letter-spacing: -0.5vw;
                    span {
                        transition:
                            transform 0.3s ease,
                            color 0.3s ease;
                        display: inline-block;
                        margin: 0;
                        padding: 0;
                        &:hover {
                            color: $neonGreen;
                            transform: scale(1.2) rotate(5deg);
                        }
                        &:nth-child(2n) {
                            &:hover {
                                transform: scale(1.2) rotate(-5deg);
                            }
                        }
                    }
                }
                .title {
                    font-size: 4.5vw;
                    color: $lightGrey;
                    line-height: 4.5vw;
                }
                .bio {
                    font-size: 1.2vw;
                    color: $lightGrey;
                    width: 70%;
                    margin-top: 20px;
                }
            }
        }

        #about {
            height: 70vh;
            padding: 15%;
            h2 {
                position: relative;
                &::after {
                    content: "";
                    width: 30%;
                    top: 50%;
                    height: 0.5px;
                    background-color: white;
                    position: absolute;
                    margin-left: 20px;
                }
                .number {
                    display: inline-block;
                    width: 20%;
                }
            }
            .left-panel {
                p {
                    font-size: 1.3vw;
                }
            }
            .right-panel {
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }

        #xp {
            height: 80vh;
            padding: 15%;
        }
    }
}
