<div style="padding: 0.5em;">
	<div style='text-align: center;
            background-color: #9FB8AD;
            margin: 0px -15px'>

		<h1 style=" font-size: 1em;
            margin: auto;
            text-transform: uppercase;
            letter-spacing: 0.5em;
            font-weight: 200;
            padding-top: 2em;">Nicolas Halberstadt</h1>

		<p style="font-size: 0.6em;
            font-weight: 200;
            padding-bottom: 5em;
            margin: auto;">Développeur web et web mobile - Spécialisé Symfony</p>
	</div>
	<div style="padding: 0.5em;">
		<h1>Nouvelle demande de contact</h1>

		<p style="font-weight: 400;">
			Nouvelle demande de contact par
			{{ user }}, avec l'adresse mail
			{{ mail }}.
			<br>Sujet du message :
			{{ subject }}.
			<br>Message :
			{{ message }}
		</p>
	</div>
</div>
