<div style="padding: 0.5em;">
	<div style='text-align: center;
            background-color: #9FB8AD;
            margin: 0px -15px'>

		<h1 style=" font-size: 1em;
            margin: auto;
            text-transform: uppercase;
            letter-spacing: 0.5em;
            font-weight: 200;
            padding-top: 2em;">Nicolas Halberstadt</h1>

		<p style="font-size: 0.85em;
            font-weight: 200;
            padding-bottom: 5em;
            margin: auto;">Développeur web et web mobile - Spécialisé Symfony</p>
	</div>
	<div style="padding: 0.5em;">
		<h1>Votre demande de contact</h1>

		<p style="font-weight: 400;">Bonjour Mme/M
			{{ user }}, j'ai bien reçu votre demande de contact et je reviendrais vers vous sous 24h maximum.
			<hr>
			Bien cordialement,
			<br>Nicolas Halberstadt
            <br>Développeur web Symfony
            <br>06 37 29 55 04</p>
	</div>
</div>
