<div class="footer">
	<div class="links">
		<div class="socials">
			<ul>
				<li>
					<i class="fab fa-github"></i>Voir mon
					<a href="https://github.com/NicolasHalberstadt">GitHub</a>

				</li>
				<li>
					<i class="fab fa-linkedin"></i>Me suivre sur
					<a href="https://www.linkedin.com/in/nicolashalberstadt">LinkedIn</a>

				</li>
			</ul>
		</div>
		<div class="quick-links">
			<ul>
				<li>
					<i class="far fa-address-card"></i>
					<a href="{{path('about')}}">A propos</a>
					<p>En savoir plus sur moi</p>
				</li>
				<li>
					<i class="fas fa-code"></i>
					<a href="{{path('projets')}}">Portfolio</a>
					<p>Tous mes projets</p>
				</li>
				<li>
					<i class="fas fa-feather-alt"></i>
					<a href="{{path('contact')}}">Contact</a>
					<p>Envoyer un message</p>
				</li>
				<li>
					<i class="fas fa-file-pdf"></i>
					<a href="{{path('cv')}}">Consulter mon cv</a>
					<p>Consulter et télécharger mon cv</p>
				</li>
			</ul>
		</div>

	</div>
	<div class="made-with-love">
		<p>Made with
			<i class="fas fa-heart"></i>
			by Nicolas Halberstadt</p>
	</div>
</div>
