<div class="header-profile-nav">
	<div class="header-profile">
		<div class="header-profile-pic-container">
			<img src="/../asset/image/profilepic.jpg" class="header-profile-pic">
		</div>
		<div class="header-profile-txt">
			<h2>Nicolas Halberstadt</h2>
			<h3>Développeur web et web mobile - spécialisé Symfony</h3>
		</div>
	</div>
	<div class="header-nav">
		<a href="{{ path('about') }}">A propos</a>
		<a href="{{ path('projets') }}">Portfolio</a>
		<a href="{{ path('contact') }}">Contact</a>
		<a href="{{ path('cv') }}">Visualiser mon CV</a>
	</div>
</div>
