<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="Création de sites internet personnalisés à Aix-en-Provence. Nicolas Halberstadt, développeur freelance, propose des sites modernes et adaptés à vos besoins.">
		<meta name="author" content="Nicolas Halberstadt">
		<meta name="keywords" content="création site internet, Aix-en-Provence, développeur freelance, design web, SEO">
		<meta property="og:title" content="Nicolas Halberstadt - Création de sites internet Aix-en-Provence">
		<meta property="og:description" content="Développeur freelance à Aix-en-Provence, spécialisé dans la création de sites internet modernes et adaptés à vos besoins.">
		<meta property="og:image" content="https://nicolashalberstadt.com/public/uploads/meta_img.png">
		<meta property="og:url" content="{{ app.request.uri }}">
		<meta name="twitter:card" content="summary_large_image">
		<title>Création site internet Aix-en-Provence | Nicolas Halberstadt</title>
		{% block stylesheets %}
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
			<link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
			<link rel="preconnect" href="https://fonts.googleapis.com">
			<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
			<link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=VT323&display=swap" rel="stylesheet">
			<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.1/TweenMax.min.js"></script>
			<script src="https://kit.fontawesome.com/3e200caac6.js" crossorigin="anonymous"></script>
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
			<script src="{{asset('js/script.js')}}"></script>
		{% endblock %}
		{% block javascripts %}{% endblock %}
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "Person",
				"name": "Nicolas Halberstadt",
				"jobTitle": "Développeur web freelance",
				"address": {
						"@type": "PostalAddress",
						"addressLocality": "Aix-en-Provence",
						"addressCountry": "France"
					},
				"url": "https://nicolashalberstadt."
			}
		</script>
	</head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-RE0MXRQLW4"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag('js', new Date());
		gtag('config', 'G-RE0MXRQLW4');
	</script>

	<div id="cursor"></div>
	<body>
		{% block body %}{% endblock %}
	</body>
	<div id="scrollTop"><i class="fa-solid fa-chevron-up"></i></div>
</html>
