{% extends 'base.html.twig' %}

{% block title %}Welcome
{% endblock %}

{% block homepage %}
	<div class="homepage">
		<div class="homepage-img-container">
			<a href="{{ path('about') }}"><img src="/../asset/image/portfolio.png" class=" homepage-pic"></a>
		</div>
		<div class="homepage-txt">
			<h1 class="tracking-in-expand">Nicolas Halberstadt</h1>
			<h2 class="tracking-in-expand">Développeur web et web mobile - spécialisé Symfony</h2>
		</div>
	</div>
{% endblock %}
