{% extends "base.html.twig" %}
{% block title %}
	Projet Portfolio
{% endblock %}
{% block pageTitle %}
	<h1>Portfolio</h1>
	<p class="small-text">HTML, CSS, Responsive Desing, Symfony, SEO, AdminSYS</p>
{% endblock %}
{% block body %}
	<div class="project-container">
		<img src="/../asset/image/portfolio_screen.png" alt="visualisation du site grand écran et mobile">
		<h2>Portfolio personnel</h2>
		<div class="git-site-btn">
			<a class="project-button-link" href="https://nicolashalberstadt.me" target="_blank">
				<button class="btn btn-info">Voir le site<img src="https://img.icons8.com/metro/26/000000/external-link.png" alt="ouverture nouvelle page"/></button>
			</a>
			<a class="project-button-link" href="https://github.com/NicolasHalberstadt/Portfolio" target="_blank">
				<button class="btn btn-success">Voir le repo GitHub<img src="https://img.icons8.com/metro/26/000000/external-link.png" alt="ouverture nouvelle page"/></button>
			</a>
		</div>
		<p>Petit projet de portfolio qui fait office de CV en ligne.</p>
		<h3>Techno utilisées :
		</h3>
		<p>- Symfony full-stack
			<h3>La technique :</h3>
		</p>
		<p>Site responsive, utilisation de Google Recaptcha pour le formulaire de contact et stockage du CV en format PDF. Sécurisation des entrées de formulaire afin de prévenir d'éventuelles "attaques" XSS</p>

	</div>
{% endblock %}
