{% extends 'base.html.twig' %}

{% block body %}
	<div class="error-page">
		<div class="container">
			<div class="error-code">404</div>
			<div class="error-message">Oups! La page que vous cherchez est introuvable.</div>
			<a href="/" class="home-button">Retour à l'accueil</a>
		</div>
	</div>
{% endblock %}
